<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
  </head>
  <body>
    <div id="app">
      <div id="wrapper">
        <div id="form-wrapper">
          <div id="o-form">
            <input type="text" id="text-new-item" v-model="textNewItem" />
            <div>
              <input type="checkbox" id="is-important" v-model="newImportantItem"/>
              <label for="is-important">Importante</label>
            </div>
            <button v-on:click"saveNewItem">Salvar</button>
          </div>

          <div id="list-wrapper">
            <div
              class="item"
              v-bind:class="{important : item.important, done : item.done}"
              v-for="item in list"
              v-on:click="item.done = !item.done"
            >
              <p class="text-item">{{item.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            textNewItem: "",
            newImportantItem: false,
            list: [
              {
                text: "Item importante",
                important: true,
                done: false,
              },
              {
                text: "Item feito",
                important: false,
                done: true,
              },
              {
                text: "Item a fazer",
                important: false,
                done: false,
              },
            ],
          };
        },
        methods:{
          saveNewItem(){
            let newItem = {
              text: this.textNewItem,
                important: this.newImportantItem,
                done: false,
            }
            this.list.push(newItem)
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
