<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ToDo List</title>
  </head>
  <body>
    <div id="app">
      <div id="wrapper">
        <h1 class="title">TODO.LIST</h1>
        <div id="form-wrapper">
          <div id="o-form">
            <input
              type="text"
              id="text-new-item"
              v-model="textNewItem"
              @keyup.enter="saveNewItem"
              maxlength="20"
            />
            <div>
              <input
                type="checkbox"
                id="is-important"
                v-model="newImportantItem"
              />
              <label for="is-important">Importante</label>
            </div>
            <button @click="saveNewItem">Salvar</button>
            <p id="count">{{qttEntered}}/20</p>
          </div>

          <div id="list-wrapper">
            <div
              class="item"
              v-bind:class="{important : item.important, done : item.done}"
              v-for="item in list"
              v-on:click="item.done = !item.done"
              :key="item.id"
            >
              <p class="text-item">{{item.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            textNewItem: "",
            newImportantItem: false,
            list: [],
          };
        },
        methods: {
          saveNewItem() {
            if (this.textNewItem.length > 0) {
              let newItem = {
                id: new Date().getTime(),
                text: this.textNewItem,
                important: this.newImportantItem,
                done: false,
              };
              this.list.push(newItem);
              this.textNewItem = "";
              this.newImportantItem = false;
            }
          },
        },
        computed: {
          qttEntered() {
            return this.textNewItem.length;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
