* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #325d56;
}

.title {
  padding: 2rem 0rem 1rem 0rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-color: #f2e291;
  font-size: 4rem;
  color: #82c0d9;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#o-form {
  width: 30rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2f2f2;
  padding: 0.8rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

#text-new-item {
  width: 15rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  border: 1px solid #e4e4e4;
  padding-left: 1rem;
}

#text-new-item:focus {
  border-radius: 0.1rem;
  border: 1px solid #e4e4e4;
}

#is-important {
  cursor: pointer;
  margin-right: 0.3rem;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  font-weight: bold;
  background-color: #88c7e8;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem #999;
}

button:hover {
  background-color: #6b9cb6;
}

button:active {
  background-color: #6b9cb6;
  box-shadow: 0 0.2rem #666;
  transform: translateY(4px);
}

#count {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  font-size: 0.6rem;
}

#list-wrapper {
  max-width: 30rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.item {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  color: #325d56;
  background-color: #f9f391;
}

.item::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "À fazer";
  width: 8rem;
  height: 2rem;

  font-size: 0.8rem;
  font-weight: bold;
  background-color: #ffba10;

  position: absolute;
  top: 0;
}

.important {
  color: #f8f2f0;
  background-color: #f9b2ac;
}

.important::after {
  content: "Importante";
  background-color: #fa7667;
}

.done {
  color: #7a7b7d;
  background-color: #e7e7e7;
}

.done::after {
  content: "Finalizado";
  background-color: #d6d6d6;
}
