* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #325d56;
}

.title {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-color: #f2e291;
  color: #82c0d9;
}

#o-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2f2f2;
  padding: 0.8rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

#text-new-item {
  border-radius: 0.2rem;
  border: 1px solid #e4e4e4;
}

#text-new-item:focus {
  border-radius: 0.1rem;
  border: 1px solid #e4e4e4;
}

#is-important {
  cursor: pointer;
  margin-right: 0.3rem;
}

#count {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 0.6rem;
}

#list-wrapper {
  max-width: 30rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  color: #325d56;
  background-color: #f9f391;
}

.item::after {
  content: "";
  width: 8rem;
  height: 2rem;
  background-color: #ffba10;

  position: absolute;
  top: 0;
}

.important {
  color: #f8f2f0;
  background-color: #f9b2ac;
}

.important::after {
  background-color: #fa7667;
}

.done {
  color: #7a7b7d;
  background-color: #e7e7e7;
}

.done::after {
  background-color: #d6d6d6;
}
